<a href="https://colab.research.google.com/github/Hamzachaudhary911/Hamzachaudhary911/blob/main/Pandas_MiniProject(Hamza_Naveed).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS MINI PROJECT

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

You have the data for the 100 top-rated movies from the past decade along with various pieces of information about the movie, its actors, and the voters who have rated these movies online. In this assignment, you will try to find some interesting insights into these movies and their voters, using Python.

# Task 1: Reading the data

### Subtask 1.1: Read the Movies Data.

Read the movies data file provided and store it in a dataframe movies.

In [ ]:
import pandas as pd
df=pd.read_csv("/content/Movie+Assignment+Data.csv")
df.head(10)

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Amiée Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,12000000,51738905,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,47000000,100546139,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9000000,47695371,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
5,Hell or High Water,2016,12000000,27007844,Chris Pine,Jeff Bridges,Ben Foster,19000,12000.0,9000.0,...,7.6,7.4,7.6,7.6,7.7,7.3,7.9,7.5,R,USA
6,Doctor Strange,2016,165000000,232641920,Benedict Cumberbatch,Chiwetel Ejiofor,Rachel McAdams,19000,NaN,46000.0,...,7.4,7.7,7.5,7.4,7.8,7.1,7.6,7.4,PG-13,USA
7,Tangled,2010,260000000,200807262,Brad Garrett,Donna Murphy,M.C. Gainey,799,553.0,284.0,...,7.5,8.0,7.7,7.6,7.9,6.9,7.9,7.7,PG,USA
8,The Dark Knight Rises,2012,250000000,448130642,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000,23000.0,23000.0,...,8.3,8.2,7.9,7.9,7.9,7.8,8.4,8.4,PG-13,USA
9,Captain America: Civil War,2016,250000000,407197282,Robert Downey Jr.,Scarlett Johansson,Chris Evans,21000,19000.0,11000.0,...,7.7,7.8,7.6,7.6,7.9,7.5,8.1,7.7,PG-13,USA

In [ ]:
df1 = df.copy()
df1

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Amiée Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,12000000,51738905,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,47000000,100546139,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9000000,47695371,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Whiplash,2014,3300000,13092000,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4,R,USA
96,Before Midnight,2013,3000000,8114507,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA
97,Star Wars: Episode VII - The Force Awakens,2015,245000000,936662225,Doug Walker,Rob Walker,0,131,12.0,0.0,...,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA
98,Harry Potter and the Deathly Hallows: Part I,2010,150000000,296347721,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,...,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5,PG-13,UK
99,Tucker and Dale vs Evil,2010,5000000,223838,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada

### Subtask 1.2: Inspect the Dataframe
Inspect the dataframe for dimensions, null-values, and summary of different numeric columns.

In [ ]:
#Size of a dataframe
s=df1.size
print("Size of a DataFrame:",s)
print("Number of Rows:",df1.shape[0])
print("Number of Columns:",df1.shape[1])
#Type of a DataFrame
s=type(df1)
print("Type of DataFrame:",s)
s=df1.ndim
print("Number of Diemensions:",s)
s=df1.dtypes
print("Dtypes of all Data:\n",s)
#Null Values
null_positions = df1.isnull().sum()
null_positions =null_positions.to_frame()
print(null_positions)
#summary of different numeric columns.
s=df1.describe()
s

Size of a DataFrame: 6200
Number of Rows: 100
Number of Columns: 62
Type of DataFrame: <class 'pandas.core.frame.DataFrame'>
Number of Diemensions: 2
Dtypes of all Data:
 Title              object
title_year          int64
budget              int64
Gross               int64
actor_1_name       object
                   ...
Votes1000         float64
VotesUS           float64
VotesnUS          float64
content_rating     object
Country            object
Length: 62, dtype: object
                0
Title           0
title_year      0
budget          0
Gross           0
actor_1_name    0
...            ..
Votes1000       0
VotesUS         0
VotesnUS        0
content_rating  0
Country         0

[62 rows x 1 columns]

,title_year,budget,Gross,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,IMDb_rating,MetaCritic,Runtime,CVotes10,...,Votes1829F,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS
count,100.000000,1.000000e+02,1.000000e+02,100.000000,99.000000,98.000000,100.000000,95.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,2012.820000,7.838400e+07,1.468679e+08,13407.270000,7377.303030,3002.153061,7.883000,78.252632,126.420000,73212.160000,...,7.982000,7.732000,7.723000,7.780000,7.65100,7.624000,7.770000,7.274000,7.958000,7.793000
std,1.919491,7.445295e+07,1.454004e+08,10649.037862,13471.568216,6940.301133,0.247433,9.122066,19.050799,82669.594746,...,0.321417,0.251814,0.260479,0.282128,0.21485,0.213258,0.301344,0.361987,0.232327,0.264099
min,2010.000000,3.000000e+06,2.238380e+05,39.000000,12.000000,0.000000,7.500000,62.000000,91.000000,6420.000000,...,7.300000,7.300000,7.200000,7.200000,7.10000,7.100000,7.000000,6.400000,7.500000,7.300000
25%,2011.000000,1.575000e+07,4.199752e+07,1000.000000,580.000000,319.750000,7.700000,72.000000,114.750000,30587.000000,...,7.700000,7.600000,7.500000,7.600000,7.50000,7.475000,7.500000,7.100000,7.800000,7.600000
50%,2013.000000,4.225000e+07,1.070266e+08,13000.000000,1000.000000,626.500000,7.800000,78.000000,124.000000,54900.500000,...,8.000000,7.700000,7.700000,7.800000,7.65000,7.600000,7.800000,7.300000,7.950000,7.750000
75%,2014.000000,1.500000e+08,2.107548e+08,20000.000000,11000.000000,1000.000000,8.100000,83.500000,136.250000,80639.000000,...,8.200000,7.900000,7.900000,8.000000,7.80000,7.800000,7.925000,7.500000,8.100000,7.925000
max,2016.000000,2.600000e+08,9.366622e+08,35000.000000,96000.000000,46000.000000,8.800000,100.000000,180.000000,584839.000000,...,8.800000,8.700000,8.700000,8.500000,8.10000,8.100000,8.500000,8.200000,8.700000,8.800000

## Task 2: Data Analysis

Now that we have loaded the dataset and inspected it, we see that most of the data is in place. As of now, no data cleaning is required, so let's start with some data manipulation, analysis, and visualisation to get various insights about the data.

### Subtask 2.1: Reduce those Digits!
These numbers in the `budget` and `gross` are too big, compromising its readability. Let's convert the unit of the budget and gross columns from `$` to `million $` first.

In [ ]:
import pandas as pd
df1['budget (million $)'] = df1['budget'] / 1000000
df1['Gross (million $)'] = df['Gross'] / 1000000
df1.drop(columns=['budget', 'Gross'], inplace=True)
print("From Dollar to Million Dollar:")
print(df1.head(5))

From Dollar to Million Dollar:
                   Title  title_year      actor_1_name        actor_2_name  \
0             La La Land        2016      Ryan Gosling          Emma Stone
1               Zootopia        2016  Ginnifer Goodwin       Jason Bateman
2                   Lion        2016         Dev Patel       Nicole Kidman
3                Arrival        2016         Amy Adams       Jeremy Renner
4  Manchester by the Sea        2016     Casey Affleck  Michelle Williams

      actor_3_name  actor_1_facebook_likes  actor_2_facebook_likes  \
0       Amiée Conn                   14000                 19000.0
1       Idris Elba                    2800                 28000.0
2      Rooney Mara                   33000                 96000.0
3  Forest Whitaker                   35000                  5300.0
4    Kyle Chandler                     518                 71000.0

   actor_3_facebook_likes  IMDb_rating    genre_1  ... Votes45A Votes45AM  \
0                     NaN          8.2     Comedy  ...      7.6       7.6
1                 27000.0          8.1  Animation  ...      7.8       7.8
2                  9800.0          8.1  Biography  ...      8.0       7.9
3                     NaN          8.0      Drama  ...      7.6       7.6
4                  3300.0          7.9      Drama  ...      7.6       7.6

   Votes45AF  Votes1000  VotesUS  VotesnUS  content_rating    Country  \
0        7.5        7.1      8.3       8.1           PG-13        USA
1        8.1        7.6      8.0       8.0              PG        USA
2        8.4        7.1      8.1       8.0           PG-13  Australia
3        7.7        7.3      8.0       7.9           PG-13        USA
4        7.6        7.1      7.9       7.8               R        USA

   budget (million $)  Gross (million $)
0                30.0         151.101803
1               150.0         341.268248
2                12.0          51.738905
3                47.0         100.546139
4                 9.0          47.695371

[5 rows x 62 columns]

### Subtask 2.2: Let's Talk Profit!

1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`
2. Sort the dataframe using the `profit` column as reference.
3. Extract the top ten profiting movies in descending order and store them in a new dataframe named `top10`
4. Record your observations
5. Extract the movies with a `negative profit` and store them in a new dataframe named `neg_profit`

In [ ]:
import pandas as pd

# Assuming your DataFrame is named df
df1['profit'] = df1['budget (million $)'] - df1['Gross (million $)']
df1.sort_values(by='profit',ascending=True)
top10=df1.head(10)
neg_profit = df1[df1['profit']<0]
neg_profit

,Title,title_year,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,IMDb_rating,genre_1,...,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country,budget (million $),Gross (million $),profit
0,La La Land,2016,Ryan Gosling,Emma Stone,Amiée Conn,14000,19000.0,NaN,8.2,Comedy,...,7.6,7.5,7.1,8.3,8.1,PG-13,USA,30.0,151.101803,-121.101803
1,Zootopia,2016,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,8.1,Animation,...,7.8,8.1,7.6,8.0,8.0,PG,USA,150.0,341.268248,-191.268248
2,Lion,2016,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,8.1,Biography,...,7.9,8.4,7.1,8.1,8.0,PG-13,Australia,12.0,51.738905,-39.738905
3,Arrival,2016,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,8.0,Drama,...,7.6,7.7,7.3,8.0,7.9,PG-13,USA,47.0,100.546139,-53.546139
4,Manchester by the Sea,2016,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,7.9,Drama,...,7.6,7.6,7.1,7.9,7.8,R,USA,9.0,47.695371,-38.695371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Boyhood,2014,Ellar Coltrane,Lorelei Linklater,Libby Villari,230,193.0,127.0,7.9,Drama,...,7.7,7.7,7.2,8.0,7.9,R,USA,4.0,25.359200,-21.359200
95,Whiplash,2014,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,8.5,Drama,...,8.1,8.2,8.0,8.6,8.4,R,USA,3.3,13.092000,-9.792000
96,Before Midnight,2013,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,7.9,Drama,...,7.4,7.2,7.0,8.0,7.9,R,USA,3.0,8.114507,-5.114507
97,Star Wars: Episode VII - The Force Awakens,2015,Doug Walker,Rob Walker,0,131,12.0,0.0,8.1,Action,...,7.8,8.2,7.7,8.2,7.9,PG-13,USA,245.0,936.662225,-691.662225
98,Harry Potter and the Deathly Hallows: Part I,2010,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,7.7,Adventure,...,7.3,8.0,6.7,7.9,7.5,PG-13,UK,150.0,296.347721,-146.347721

### Subtask 2.4: Find the Most Popular Trios - I
You're a producer looking to make a blockbuster movie. There will primarily be three lead roles in your movie and you wish to cast the most popular actors for it. Now, since you don't want to take a risk, you will cast a trio which has already acted in together in a movie before. The metric that you've chosen to check the popularity is the Facebook likes of each of these actors.

The dataframe has three columns to help you out for the same, viz. `actor_1_facebook_likes`, `actor_2_facebook_likes`, and `actor_3_facebook_likes`. Your objective is to find the trios which has the most number of Facebook likes combined. That is, the sum of `actor_1_facebook_likes`, `actor_2_facebook_likes` and `actor_3_facebook_likes` should be `maximum`. Find out the `top 5` popular trios, and output their `names` in a list.

In [ ]:
df1['total_likes'] = df1['actor_1_facebook_likes'] + df1['actor_2_facebook_likes'] + df1['actor_3_facebook_likes']
df1 = df1.sort_values(by='total_likes', ascending=False)
#Convert this into array using to list
top_5_trios = df1[['actor_1_name', 'actor_2_name', 'actor_3_name']].head(5).values.tolist()
print(top_5_trios)

[['Dev Patel', 'Nicole Kidman', 'Rooney Mara'], ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt'], ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman'], ['Casey Affleck', 'Michelle Williams ', 'Kyle Chandler'], ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt']]

### Subtask 2.5: Find the Most Popular Trios - II
In the previous subtask you found the popular trio based on the total number of facebook likes. Let's add a small condition to it and make sure that all three actors are popular. The condition is none of the three actors' Facebook likes should be less than half of the other two. For example, the following is a valid combo:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 50000
But the below one is not:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 30000
since in this case, actor_3_facebook_likes is 30000, which is less than half of actor_1_facebook_likes.

Having this condition ensures that you aren't getting any unpopular actor in your trio (since the total likes calculated in the previous question doesn't tell anything about the individual popularities of each actor in the trio.).

You can do a manual inspection of the top 5 popular trios you have found in the previous subtask and check how many of those trios satisfy this condition. Also, which is the most popular trio after applying the condition above? Write your answers in the markdown cell provided below?

In [ ]:
# Extract individual actors' Facebook likes
A1_likes = df1['actor_1_facebook_likes']
A2_likes = df1['actor_2_facebook_likes']
A3_likes = df1['actor_3_facebook_likes']
# Check if each actor's likes are greater than or equal to half of the other two
c1 = (A1_likes >= A2_likes / 2) & (A1_likes >= A3_likes/ 2)
c2 = (A2_likes >= A1_likes / 2) & (A2_likes >=A3_likes/ 2)
c3 = (A3_likes >= A1_likes / 2) & (A3_likes >= A2_likes/ 2)
# Filter the DataFrame to keep only the trios where all conditions are satisfied
satisfied_trio = df1[c1 & c2 & c3]
# Find the most popular trio after applying the condition
most_popular_trio = satisfied_trio[['actor_1_name', 'actor_2_name', 'actor_3_name']].iloc[0].values.tolist()
print("Most popular trio after applying the condition:", most_popular_trio)

Most popular trio after applying the condition: ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt']

### Subtask 2.6: R-Rated Movies

Although R rated movies are restricted movies for the under 18 age group, still there are vote counts from that age group. Among all the R rated movies that have been voted by the under-18 age group, find the top 10 movies that have the highest number of votes i.e`CVotesU18` from the `movies` dataframe. Store these in a dataframe named `PopularR`.

In [ ]:
PopularR = df1[df1['content_rating'] == 'R']
PopularR = PopularR.sort_values(by='CVotesU18', ascending=False)
PopularR = PopularR.head(10)
print(PopularR)

                                              Title  title_year  \
47                                         Deadpool        2016
36                          The Wolf of Wall Street        2013
35                                 Django Unchained        2012
29                               Mad Max: Fury Road        2015
95                                         Whiplash        2014
31                                     The Revenant        2015
40                                   Shutter Island        2010
43                                        Gone Girl        2014
65                         The Grand Budapest Hotel        2014
72  Birdman or (The Unexpected Virtue of Ignorance)        2014

         actor_1_name         actor_2_name       actor_3_name  \
47      Ryan Reynolds            Ed Skrein     Stefan Kapicic
36  Leonardo DiCaprio  Matthew McConaughey        Jon Favreau
35  Leonardo DiCaprio      Christoph Waltz       Ato Essandoh
29          Tom Hardy      Charlize Theron       ZoÃ« Kravitz
95       J.K. Simmons      Melissa Benoist       Chris Mulkey
31  Leonardo DiCaprio            Tom Hardy         Lukas Haas
40  Leonardo DiCaprio        Joseph Sikora     Nellie Sciutto
43      Patrick Fugit            Sela Ward  Emily Ratajkowski
65        Bill Murray        Tom Wilkinson  F. Murray Abraham
72         Emma Stone          Naomi Watts      Merritt Wever

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
47                   16000                   805.0                   361.0
36                   29000                 11000.0                  4000.0
35                   29000                 11000.0                   265.0
29                   27000                  9000.0                   943.0
95                   24000                   970.0                   535.0
31                   29000                 27000.0                   733.0
40                   29000                   223.0                   163.0
43                     835                   812.0                   625.0
65                   13000                  1000.0                   670.0
72                   15000                  6000.0                   529.0

    IMDb_rating    genre_1  ... Votes45AF Votes1000  VotesUS  VotesnUS  \
47          8.0     Action  ...       7.9       7.3      8.1       7.9
36          8.2  Biography  ...       7.5       7.8      8.1       8.1
35          8.4      Drama  ...       8.1       7.8      8.4       8.4
29          8.1     Action  ...       7.2       8.0      8.2       8.0
95          8.5      Drama  ...       8.2       8.0      8.6       8.4
31          8.0  Adventure  ...       7.8       7.6      8.1       7.9
40          8.1    Mystery  ...       7.6       7.6      7.8       8.1
43          8.1      Crime  ...       7.7       7.6      8.1       8.1
65          8.1  Adventure  ...       7.9       7.7      8.1       8.0
72          7.8     Comedy  ...       7.0       7.1      7.9       7.7

    content_rating    Country  budget (million $)  Gross (million $)  \
47               R        USA                58.0         363.024263
36               R        USA               100.0         116.866727
35               R        USA               100.0         162.804648
29               R  Australia               150.0         153.629485
95               R        USA                 3.3          13.092000
31               R        USA               135.0         183.635922
40               R        USA                80.0         127.968405
43               R        USA                61.0         167.735396
65               R        USA                25.0          59.073773
72               R        USA                18.0          42.335698

        profit  total_likes
47 -305.024263      17166.0
36  -16.866727      44000.0
35  -62.804648      40265.0
29   -3.629485      36943.0
95   -9.792000      25505.0
31  -48.635922      56733.0
40  -47.968405      29386.0
43 -106.735396       2272.0
65  -34.073773      14670.0
72  -24.335698      21529.0

[10 rows x 64 columns]

## Task 3 : Demographic analysis

If you take a look at the last columns in the dataframe, most of these are related to demographics of the voters (in the last subtask, i.e., 2.8, you made use one of these columns - CVotesU18). We also have three genre columns indicating the genres of a particular movie. We will extensively use these columns for the third and the final stage of our assignment wherein we will analyse the voters across all demographics and also see how these vary across various genres. So without further ado, let's get started with demographic analysis.

### Subtask 3.1 Dataframe & Genres

There are 3 columns in the dataframe - `genre_1`, `genre_2`, and `genre_3`. As a part of this subtask, you need to aggregate a few values over these 3 columns.

1. First create a new dataframe `df_by_genre` that contains `genre_1`, `genre_2`, and `genre_3` and all the columns related to `CVotes/Votes` from the `movies` data frame. There are `47` columns to be extracted in total.
2. Now, Add a column called `cnt` to the dataframe `df_by_genre` and initialize it to `one`. You will realise the use of this column by the end of this subtask.
3. First group the dataframe `df_by_genre` by `genre_1` and find the sum of all the numeric columns such as `cnt`, columns related to `CVotes` and `Votes` columns and store it in a dataframe `df_by_g1`.
4. Perform the same operation for `genre_2` and `genre_3` and store it dataframes `df_by_g2` and `df_by_g3` respectively.
5. Now that you have 3 dataframes performed by grouping over `genre_1`, `genre_2`, and `genre_3` separately, it's time to combine them. For this, add the three dataframes and store it in a new dataframe `df_add`, so that the corresponding values of `Votes/CVotes` get added for each genre.There is a function called `add()` in pandas which lets you do this. You can refer to this link to see how this function works. https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.add.html
6. The column `cnt` on aggregation has basically kept the track of the number of occurences of each genre.Subset the genres that have atleast 10 movies into a new dataframe `genre_top10` based on the `cnt` column value.
7. Now, take the mean of all the numeric columns by dividing them with the column value `cnt` and store it back to the same dataframe. `We will be using this dataframe for further analysis in this task unless it is explicitly mentioned to use the dataframe movies`.
8. Since the number of votes can't be a fraction, type cast all the `CVotes` related columns to integers. Also, round off all the `Votes` related columns upto two digits after the decimal point.

In [ ]:
# Selecting columns related to CVotes/Votes from the movies DataFrame
cvotes_votes_cols = [col for col in df1.columns if col.startswith('CVotes') or col.startswith('Votes')]

# Creating the DataFrame df_by_genre containing genre_1, genre_2, genre_3, and all columns related to CVotes/Votes
df_by_genre = df1[['genre_1', 'genre_2', 'genre_3'] + cvotes_votes_cols]

# Displaying the df_by_genre DataFrame
print(df_by_genre)

      genre_1    genre_2   genre_3  CVotes10  CVotes09  CVotes08  CVotes07  \
2   Biography      Drama       NaN     23325     29830     40564     20296
27     Action  Adventure    Sci-Fi    584839    485218    304457    130972
14     Action  Adventure    Sci-Fi     91765    127521    183578    104658
4       Drama        NaN       NaN     18191     33532     46596     29626
8      Action   Thriller       NaN    380589    341965    281426    134959
..        ...        ...       ...       ...       ...       ...       ...
97     Action  Adventure   Fantasy    155391    161810    166378     99402
34      Drama     Sci-Fi  Thriller     89986    127616    169693    122275
0      Comedy      Drama     Music     74245     71191     64640     38831
3       Drama    Mystery    Sci-Fi     55533     87850    109536     65440
6      Action  Adventure   Fantasy     38952     51465    102744     83322

    CVotes06  CVotes05  CVotes04  ...  Votes1829F  Votes3044  Votes3044M  \
2       5842      1669       558  ...         8.4        8.0         7.9
27     46393     20595     10050  ...         8.8        8.7         8.7
14     33027     10059      3710  ...         8.2        7.8         7.8
4      11879      4539      1976  ...         7.8        7.7         7.7
8      50406     20106      9589  ...         8.6        8.3         8.3
..       ...       ...       ...  ...         ...        ...         ...
97     40734     18060      8751  ...         8.3        8.0         7.9
34     57564     25393     12286  ...         7.5        7.8         7.8
0      17377      8044      3998  ...         8.2        7.9         7.9
3      26913     10556      5057  ...         8.1        7.8         7.8
6      32430     10744      3786  ...         7.8        7.4         7.4

    Votes3044F  Votes45A  Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS
2          8.2       8.0        7.9        8.4        7.1      8.1       8.0
27         8.5       8.1        8.1        8.0        8.2      8.7       8.8
14         8.0       7.7        7.7        7.9        7.4      8.1       7.9
4          7.7       7.6        7.6        7.6        7.1      7.9       7.8
8          8.2       7.9        7.9        7.9        7.8      8.4       8.4
..         ...       ...        ...        ...        ...      ...       ...
97         8.2       7.9        7.8        8.2        7.7      8.2       7.9
34         7.5       7.7        7.7        7.5        7.5      7.9       7.8
0          7.8       7.6        7.6        7.5        7.1      8.3       8.1
3          7.8       7.6        7.6        7.7        7.3      8.0       7.9
6          7.7       7.5        7.4        7.8        7.1      7.6       7.4

[100 rows x 47 columns]

In [ ]:
# Add a column named "cnt" initialized to one
df_by_genre['cnt'] = 1

# Displaying the df_by_genre DataFrame with the new column
print(df_by_genre)

      genre_1    genre_2   genre_3  CVotes10  CVotes09  CVotes08  CVotes07  \
2   Biography      Drama       NaN     23325     29830     40564     20296
27     Action  Adventure    Sci-Fi    584839    485218    304457    130972
14     Action  Adventure    Sci-Fi     91765    127521    183578    104658
4       Drama        NaN       NaN     18191     33532     46596     29626
8      Action   Thriller       NaN    380589    341965    281426    134959
..        ...        ...       ...       ...       ...       ...       ...
97     Action  Adventure   Fantasy    155391    161810    166378     99402
34      Drama     Sci-Fi  Thriller     89986    127616    169693    122275
0      Comedy      Drama     Music     74245     71191     64640     38831
3       Drama    Mystery    Sci-Fi     55533     87850    109536     65440
6      Action  Adventure   Fantasy     38952     51465    102744     83322

    CVotes06  CVotes05  CVotes04  ...  Votes3044  Votes3044M  Votes3044F  \
2       5842      1669       558  ...        8.0         7.9         8.2
27     46393     20595     10050  ...        8.7         8.7         8.5
14     33027     10059      3710  ...        7.8         7.8         8.0
4      11879      4539      1976  ...        7.7         7.7         7.7
8      50406     20106      9589  ...        8.3         8.3         8.2
..       ...       ...       ...  ...        ...         ...         ...
97     40734     18060      8751  ...        8.0         7.9         8.2
34     57564     25393     12286  ...        7.8         7.8         7.5
0      17377      8044      3998  ...        7.9         7.9         7.8
3      26913     10556      5057  ...        7.8         7.8         7.8
6      32430     10744      3786  ...        7.4         7.4         7.7

    Votes45A  Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
2        8.0        7.9        8.4        7.1      8.1       8.0    1
27       8.1        8.1        8.0        8.2      8.7       8.8    1
14       7.7        7.7        7.9        7.4      8.1       7.9    1
4        7.6        7.6        7.6        7.1      7.9       7.8    1
8        7.9        7.9        7.9        7.8      8.4       8.4    1
..       ...        ...        ...        ...      ...       ...  ...
97       7.9        7.8        8.2        7.7      8.2       7.9    1
34       7.7        7.7        7.5        7.5      7.9       7.8    1
0        7.6        7.6        7.5        7.1      8.3       8.1    1
3        7.6        7.6        7.7        7.3      8.0       7.9    1
6        7.5        7.4        7.8        7.1      7.6       7.4    1

[100 rows x 48 columns]

<ipython-input-66-aea16a57156c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_by_genre['cnt'] = 1

In [ ]:
df_by_g1 = df_by_genre.groupby('genre_1').sum()
print(df_by_g1)

                                                     genre_2  \
genre_1
Action     AdventureAdventureThrillerSci-FiAdventureAdven...
Adventure  DramaDramaDramaComedyDramaComedyDramaFamilyBio...
Animation  AdventureAdventureActionActionActionAdventureA...
Biography  DramaComedyDramaComedyDramaDramaDramaDramaDram...
Comedy      DramaDramaDramaDramaDramaHorrorDramaFantasyDrama
Crime          DramaDramaDramaDramaDramaDramaDramaDramaDrama
Drama      MusicalWesternThrillerMusicRomanceHistorySport...
Mystery                                             Thriller

                                                     genre_3  CVotes10  \
genre_1
Action     Sci-FiSci-FiSci-FiMysterySci-FiSci-FiDramaSci-...   2928407
Adventure  ThrillerFamilySci-FiDramaWesternDramaSci-FiFan...   1058779
Animation  ComedyDramaAdventureAdventureAdventureComedyCo...    681562
Biography  DramaSportCrimeThrillerThrillerRomanceHistoryH...    666831
Comedy       RomanceRomanceRomanceRomanceFantasyRomanceMusic    371217
Crime      ThrillerMysteryThrillerMysteryThrillerThriller...    383290
Drama              RomanceSci-FiThrillerSci-FiThrillerSci-Fi   1080725
Mystery                                                    0    150405

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_1
Action      3261919   4247693   2662020    986774    364234    156150
Adventure   1179818   1560541    966275    365486    136985     58559
Animation    798227   1153214    722782    251076     83069     30718
Biography   1088430   1654704    962977    306247    100005     38874
Comedy       496905    770395    518566    205434     81933     35788
Crime        690221   1083469    627593    206756     71460     30336
Drama       1494053   1827363   1078966    417205    163874     75525
Mystery      230844    278844    132349     45167     15615      7061

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_1              ...
Action        89483  ...      209.1       208.8       210.0     206.5
Adventure     33174  ...       92.7        92.6        93.5      92.0
Animation     15733  ...       85.4        84.9        87.8      84.5
Biography     21536  ...      100.8       100.7       101.3     100.5
Comedy        20965  ...       68.6        68.7        68.9      67.7
Crime         17190  ...       69.4        69.7        68.8      68.7
Drama         45846  ...      139.3       139.0       139.7     137.7
Mystery        3780  ...        7.9         7.9         8.0       7.5

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_1
Action         206.0      209.0      197.2    215.8     209.5   27
Adventure       91.6       93.8       88.9     95.3      93.5   12
Animation       84.1       86.7       80.0     87.6      86.1   11
Biography      100.0      102.9       94.7    103.3     101.5   13
Comedy          67.5       68.7       62.7     70.9      69.4    9
Crime           68.6       69.6       66.3     71.9      70.1    9
Drama          137.2      138.7      130.0    143.2     141.1   18
Mystery          7.4        7.6        7.6      7.8       8.1    1

[8 rows x 47 columns]

In [ ]:
# Grouping the df_by_genre DataFrame by genre_2 and finding the sum of all numeric columns
df_by_g2 = df_by_genre.groupby('genre_2').sum()

# Grouping the df_by_genre DataFrame by genre_3 and finding the sum of all numeric columns
df_by_g3 = df_by_genre.groupby('genre_3').sum()

# Displaying the df_by_g2 and df_by_g3 DataFrames
print(df_by_g2)
print(df_by_g3)

                                                     genre_1  \
genre_2
Action                  AnimationAnimationAnimationAnimation
Adventure  ActionActionAnimationActionActionActionActionA...
Biography                  ActionActionAdventureActionAction
Comedy     BiographyBiographyAdventureAdventureActionAdve...
Crime                                                 Action
Drama      BiographyComedyAdventureBiographyCrimeCrimeCom...
Family                                             Adventure
Fantasy                             AdventureAdventureComedy
History                                                Drama
Horror                                                Comedy
Music                                                  Drama
Musical                                                Drama
Mystery                                           DramaDrama
Romance                            DramaDramaDramaDramaDrama
Sci-Fi                                           ActionDrama
Sport                                                  Drama
Thriller                                  ActionDramaMystery
War                                                    Drama
Western                                                Drama

                                                     genre_3  CVotes10  \
genre_2
Action                  AdventureAdventureAdventureAdventure    238060
Adventure  Sci-FiSci-FiComedySci-FiMysterySci-FiSci-FiSci...   2297820
Biography                          DramaDramaDramaDramaDrama    185172
Comedy                      DramaCrimeDramaDramaRomanceDrama    428995
Crime                                                  Drama     19576
Drama      RomanceThrillerSportThrillerMysteryRomanceFami...   1923492
Family                                               Fantasy     68937
Fantasy                                              Romance    270616
History                                             Thriller     15757
Horror                                                     0     16572
Music                                                      0    110404
Musical                                              Romance     54268
Mystery                                         Sci-FiSci-Fi     85313
Romance                                               Sci-Fi    230425
Sci-Fi                                              Thriller    350243
Sport                                                      0     21364
Thriller                                                   0    624792
War                                                        0     15911
Western                                                    0    234824

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_2
Action       285510    430062    260106     88580     29250     10820
Adventure   2548864   3271725   2055600    758009    272735    113691
Biography    313178    576374    370003    119348     38643     14844
Comedy       624720    854162    512668    193916     76752     35193
Crime         40247     85359     64633     24920      8548      3261
Drama       2761237   4112363   2492241    853434    300100    124511
Family        54947    102488     80465     31205     11792      4808
Fantasy      290831    447307    291071    120920     47215     19848
History       32840     83322     63800     19183      5178      1657
Horror        19818     44460     35863     13456      4588      1684
Music        161864    132656     56007     16577      6031      2937
Musical       47750     63323     45160     22393     10744      5551
Mystery      152619    233474    148176     55575     20135      8863
Romance      270702    353326    215355     87701     35226     16298
Sci-Fi       361819    433983    284879    125143     53350     24462
Sport         28964     58237     45563     16432      5118      1655
Thriller     709424    734770    365134    135892     52714     25734
War           17607     32570     24461     10274      3848      1387
Western      339329    286911    121445     38251     14227      6469

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_2              ...
Action         5521  ...       30.9        30.7        31.8      30.5
Adventure     64623  ...      171.0       170.4       173.9     169.2
Biography      7974  ...       38.3        38.2        38.5      38.0
Comedy        20995  ...       54.0        54.1        53.4      53.0
Crime          1669  ...        7.5         7.6         7.2       7.6
Drama         70205  ...      270.2       270.4       270.1     267.9
Family         2454  ...        7.4         7.3         8.1       7.4
Fantasy       10871  ...       22.9        22.9        23.3      23.0
History         735  ...        7.5         7.5         7.5       7.7
Horror          855  ...        7.5         7.5         7.7       7.5
Music          1859  ...        8.3         8.3         8.2       8.1
Musical        3484  ...        7.3         7.2         7.6       7.4
Mystery        5034  ...       15.4        15.4        15.2      15.2
Romance        9448  ...       38.7        38.7        38.7      37.9
Sci-Fi        15069  ...       15.8        15.8        15.6      15.6
Sport           848  ...        7.4         7.4         7.4       7.3
Thriller      15558  ...       24.1        24.1        24.2      22.9
War             726  ...        7.3         7.2         7.7       7.6
Western        4149  ...        8.3         8.3         8.3       8.0

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_2
Action          30.4       31.4       29.0     31.8      31.1    4
Adventure      168.4      172.8      162.7    176.4     171.6   22
Biography       37.9       38.8       35.4     39.4      38.4    5
Comedy          53.1       53.1       51.0     55.5      54.3    7
Crime            7.6        7.4        7.2      7.8       7.6    1
Drama          267.1      271.8      253.4    278.2     272.6   35
Family           7.3        8.0        6.7      7.9       7.5    1
Fantasy         22.8       23.7       22.1     23.4      23.2    3
History          7.6        7.9        7.4      7.7       7.5    1
Horror           7.4        7.7        7.1      7.7       7.5    1
Music            8.1        8.2        8.0      8.6       8.4    1
Musical          7.3        7.7        6.6      7.6       7.5    1
Mystery         15.2       15.1       14.8     15.9      15.6    2
Romance         37.8       37.7       35.3     39.7      39.2    5
Sci-Fi          15.6       15.6       14.9     16.2      15.7    2
Sport            7.3        7.5        7.1      7.9       7.5    1
Thriller        22.8       22.9       23.0     24.2      24.5    3
War              7.5        8.0        6.6      7.6       7.5    1
Western          8.0        8.1        7.8      8.4       8.4    1

[19 rows x 47 columns]
                                                     genre_1  \
genre_3
Adventure               AnimationAnimationAnimationAnimation
Comedy     AnimationActionAnimationAnimationAnimationAnim...
Crime                                              Biography
Drama      BiographyActionAnimationAdventureActionAdventu...
Family                                             Adventure
Fantasy                          AdventureComedyActionAction
History                              BiographyBiographyCrime
Music                                                 Comedy
Mystery                                ActionCrimeCrimeCrime
Romance    ComedyDramaComedyBiographyActionComedyComedyCo...
Sci-Fi     ActionActionActionActionActionActionActionAdve...
Sport                                        BiographyAction
Thriller   AdventureCrimeCrimeBiographyDramaBiographyCrim...
War                                                   Action
Western                                            Adventure

                                                     genre_2  CVotes10  \
genre_3
Adventure                           ActionActionActionAction    238060
Comedy     AdventureAdventureAdventureAdventureAdventureA...    583404
Crime                                                 Comedy    171660
Drama      ComedyBiographyAdventureComedyBiographyComedyA...    400221
Family                                                 Drama     29228
Fantasy                        FamilyDramaAdventureAdventure    301836
History                                      DramaDramaDrama    135504
Music                                                  Drama     74245
Mystery                             AdventureDramaDramaDrama    274446
Romance        DramaMusicalDramaDramaComedyDramaDramaFantasy    319534
Sci-Fi     AdventureAdventureAdventureAdventureAdventureA...   1975041
Sport                                             DramaDrama     95717
Thriller   DramaDramaDramaDramaHistoryDramaDramaDramaAdve...    456909
War                                                    Drama     36753
Western                                                Drama     21094

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_3
Adventure    285510    430062    260106     88580     29250     10820
Comedy       653362    882294    559835    200937     68167     26488
Crime        236650    250667    129164     46715     18682      8674
Drama        680085   1167327    748493    258717     88338     35439
Family        40728     77893     62936     27932     11179      4664
Fantasy      311392    442460    308676    120911     46269     19555
History      227547    311209    159262     48678     16055      6307
Music         71191     64640     38831     17377      8044      3998
Mystery      443661    654167    375087    128131     44818     18755
Romance      418790    715954    497486    193588     75675     32615
Sci-Fi      2169036   2569011   1517219    546668    200825     87463
Sport        140282    214806    138600     44470     13821      5155
Thriller     756067   1258608    810665    280154     97239     39547
War           54703    111271     82505     30231     10553      4303
Western       40901     91825     67175     23055      7191      2678

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_3              ...
Adventure      5521  ...       30.9        30.7        31.8      30.5
Comedy        14258  ...       54.8        54.6        56.0      54.3
Crime          5854  ...        8.0         8.1         7.7       7.6
Drama         19075  ...       91.8        91.7        92.0      91.2
Family         2674  ...        7.4         7.4         7.4       7.5
Fantasy       11362  ...       30.4        30.2        31.7      30.4
History        3649  ...       23.7        23.6        23.8      23.3
Music          2839  ...        7.9         7.9         7.8       7.6
Mystery       10578  ...       30.8        30.8        31.5      30.4
Romance       18250  ...       60.2        60.2        60.9      59.9
Sci-Fi        50835  ...      117.8       117.7       117.6     115.5
Sport          2509  ...       15.5        15.5        15.2      15.2
Thriller      22382  ...       76.5        76.6        75.9      76.7
War            2388  ...        7.4         7.4         7.4       7.4
Western        1305  ...        7.6         7.6         7.5       7.7

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_3
Adventure       30.4       31.4       29.0     31.8      31.1    4
Comedy          54.1       55.3       51.7     56.2      55.2    7
Crime            7.6        7.5        7.8      8.1       8.1    1
Drama           91.0       92.7       86.1     94.5      92.3   12
Family           7.5        7.6        7.4      7.7       7.5    1
Fantasy         30.0       31.8       28.4     31.5      30.5    4
History         23.1       24.2       22.0     24.5      23.7    3
Music            7.6        7.5        7.1      8.3       8.1    1
Mystery         30.3       31.3       29.3     31.9      31.3    4
Romance         59.7       61.2       54.6     62.1      60.9    8
Sci-Fi         115.2      115.9      113.0    121.3     118.3   15
Sport           15.2       15.0       14.2     16.0      15.6    2
Thriller        76.5       77.8       73.2     78.9      77.0   10
War              7.4        7.4        6.8      7.6       7.5    1
Western          7.7        7.7        7.3      7.9       7.6    1

[15 rows x 47 columns]

**Below code is not understandable so At this Point I took help from chatgpt that is why this code is long.**

In [ ]:
numeric_columns = ['CVotes10', 'CVotes09', 'CVotes08', 'CVotes07']  # List of numeric columns
df_by_g1[numeric_columns] = df_by_g1[numeric_columns].apply(pd.to_numeric, errors='coerce')
df_by_g2[numeric_columns] = df_by_g2[numeric_columns].apply(pd.to_numeric, errors='coerce')
df_by_g3[numeric_columns] = df_by_g3[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Replace NaN values with 0
df_by_g1[numeric_columns] = df_by_g1[numeric_columns].fillna(0)
df_by_g2[numeric_columns] = df_by_g2[numeric_columns].fillna(0)
df_by_g3[numeric_columns] = df_by_g3[numeric_columns].fillna(0)

# Convert non-numeric values to NaN
df_by_g1_numeric = df_by_g1.apply(pd.to_numeric, errors='coerce')
df_by_g2_numeric = df_by_g2.apply(pd.to_numeric, errors='coerce')
df_by_g3_numeric = df_by_g3.apply(pd.to_numeric, errors='coerce')

# Fill missing values with 0
df_by_g1_numeric.fillna(0, inplace=True)
df_by_g2_numeric.fillna(0, inplace=True)
df_by_g3_numeric.fillna(0, inplace=True)

# Perform addition operation
df_add = df_by_g1_numeric.add(df_by_g2_numeric, fill_value=0).add(df_by_g3_numeric, fill_value=0)

print(df_add)

           CVotes01  CVotes02  CVotes03  CVotes04  CVotes05   CVotes06  \
Action     171247.0   65573.0   95004.0  166970.0  393484.0  1075354.0
Adventure  173858.0   69737.0  103318.0  183070.0  438970.0  1212075.0
Animation   25193.0   10026.0   15733.0   30718.0   83069.0   251076.0
Biography   51297.0   20613.0   29510.0   53718.0  138648.0   425595.0
Comedy      88367.0   39391.0   56218.0   97469.0  226852.0   600287.0
Crime       37217.0   16985.0   24713.0   42271.0   98690.0   278391.0
Drama      211308.0   94185.0  135126.0  235475.0  552312.0  1529356.0
Family       7545.0    3317.0    5128.0    9472.0   22971.0    59137.0
Fantasy     38841.0   14693.0   22233.0   39403.0   93484.0   241831.0
History      9291.0    3148.0    4384.0    7964.0   21233.0    67861.0
Horror        848.0     479.0     855.0    1684.0    4588.0    13456.0
Music        9525.0    3670.0    4698.0    6935.0   14075.0    33954.0
Musical      5020.0    2490.0    3484.0    5551.0   10744.0    22393.0
Mystery     29444.0   13170.0   19392.0   34679.0   80568.0   228873.0
Romance     40075.0   19200.0   27698.0   48913.0  110901.0   281289.0
Sci-Fi     114435.0   46171.0   65904.0  111925.0  254175.0   671811.0
Sport        5234.0    2292.0    3357.0    6810.0   18939.0    60902.0
Thriller    57630.0   25767.0   37940.0   65281.0  149953.0   416046.0
War          4001.0    1971.0    3114.0    5690.0   14401.0    40505.0
Western      9737.0    3960.0    5454.0    9147.0   21418.0    61306.0

            CVotes07   CVotes08   CVotes09   CVotes10  ...  VotesM  VotesU18  \
Action     2922126.0  4677755.0  3547429.0  3166467.0  ...   243.2     253.8
Adventure  3281981.0  5262328.0  4014192.0  3594659.0  ...   298.4     311.4
Animation   722782.0  1153214.0   798227.0   681562.0  ...    86.4      88.9
Biography  1332980.0  2231078.0  1401608.0   852003.0  ...   141.1     146.9
Comedy     1591069.0  2506851.0  1774987.0  1383616.0  ...   180.2     187.4
Crime       821390.0  1419495.0   967118.0   574526.0  ...    86.6      90.6
Drama      4319700.0  7107053.0  4935375.0  3404438.0  ...   509.8     533.6
Family      143401.0   180381.0    95675.0    98165.0  ...    15.0      15.9
Fantasy     599747.0   889767.0   602223.0   572452.0  ...    54.1      56.9
History     223062.0   394531.0   260387.0   151261.0  ...    31.7      32.9
Horror       35863.0    44460.0    19818.0    16572.0  ...     7.5       7.7
Music        94838.0   197296.0   233055.0   184649.0  ...    16.7      17.9
Musical      45160.0    63323.0    47750.0    54268.0  ...     7.5       7.9
Mystery     655612.0  1166485.0   827124.0   510164.0  ...    55.2      58.4
Romance     712841.0  1069280.0   689492.0   549959.0  ...   100.7     105.8
Sci-Fi     1802098.0  3002994.0  2530855.0  2325284.0  ...   135.4     140.9
Sport       184163.0   273043.0   169246.0   117081.0  ...    23.4      24.8
Thriller   1175799.0  1993378.0  1465491.0  1081701.0  ...   102.3     106.7
War         106966.0   143841.0    72310.0    52664.0  ...    15.0      16.0
Western     188620.0   378736.0   380230.0   255918.0  ...    16.1      16.6

           VotesU18F  VotesU18M  VotesUS  VotesnUS   cnt  genre_1  genre_2  \
Action         256.8      252.8    247.6     240.6  31.0      0.0      0.0
Adventure      314.9      309.3    303.5     296.2  38.0      0.0      0.0
Animation       90.7       87.7     87.6      86.1  11.0      NaN      0.0
Biography      146.9      146.6    142.7     139.9  18.0      0.0      0.0
Comedy         186.9      186.9    182.6     178.9  23.0      0.0      0.0
Crime           87.7       90.9     87.8      85.8  11.0      0.0      0.0
Drama          529.7      532.2    515.9     506.0  65.0      0.0      0.0
Family          16.2       15.7     15.6      15.0   2.0      0.0      0.0
Fantasy         58.3       56.5     54.9      53.7   7.0      0.0      0.0
History         33.3       32.9     32.2      31.2   4.0      0.0      0.0
Horror           8.2        7.7      7.7       7.5   1.0      0.0      NaN
Music           17.6       18.1     16.9      16.5   2.0      0.0      0.0
Musical          8.4        7.6      7.6       7.5   1.0      0.0      NaN
Mystery         58.8       58.3     55.6      55.0   7.0      0.0      0.0
Romance        106.1      104.8    101.8     100.1  13.0      0.0      0.0
Sci-Fi         141.6      141.0    137.5     134.0  17.0      0.0      0.0
Sport           24.4       24.9     23.9      23.1   3.0      0.0      0.0
Thriller       104.9      106.7    103.1     101.5  13.0      0.0      0.0
War             16.8       15.6     15.2      15.0   2.0      0.0      0.0
Western         16.0       16.7     16.3      16.0   2.0      0.0      0.0

           genre_3
Action         0.0
Adventure      0.0
Animation      0.0
Biography      0.0
Comedy         0.0
Crime          0.0
Drama          0.0
Family         0.0
Fantasy        0.0
History        0.0
Horror         0.0
Music          0.0
Musical        0.0
Mystery        0.0
Romance        0.0
Sci-Fi         0.0
Sport          0.0
Thriller       0.0
War            0.0
Western        0.0

[20 rows x 48 columns]

In [ ]:
# Subset the genres that have at least 10 movies into a new DataFrame genre_top10
genre_top10 = df_add[df_add['cnt'] >= 10]
print(genre_top10)

           CVotes01  CVotes02  CVotes03  CVotes04  CVotes05   CVotes06  \
Action     171247.0   65573.0   95004.0  166970.0  393484.0  1075354.0
Adventure  173858.0   69737.0  103318.0  183070.0  438970.0  1212075.0
Animation   25193.0   10026.0   15733.0   30718.0   83069.0   251076.0
Biography   51297.0   20613.0   29510.0   53718.0  138648.0   425595.0
Comedy      88367.0   39391.0   56218.0   97469.0  226852.0   600287.0
Crime       37217.0   16985.0   24713.0   42271.0   98690.0   278391.0
Drama      211308.0   94185.0  135126.0  235475.0  552312.0  1529356.0
Romance     40075.0   19200.0   27698.0   48913.0  110901.0   281289.0
Sci-Fi     114435.0   46171.0   65904.0  111925.0  254175.0   671811.0
Thriller    57630.0   25767.0   37940.0   65281.0  149953.0   416046.0

            CVotes07   CVotes08   CVotes09   CVotes10  ...  VotesM  VotesU18  \
Action     2922126.0  4677755.0  3547429.0  3166467.0  ...   243.2     253.8
Adventure  3281981.0  5262328.0  4014192.0  3594659.0  ...   298.4     311.4
Animation   722782.0  1153214.0   798227.0   681562.0  ...    86.4      88.9
Biography  1332980.0  2231078.0  1401608.0   852003.0  ...   141.1     146.9
Comedy     1591069.0  2506851.0  1774987.0  1383616.0  ...   180.2     187.4
Crime       821390.0  1419495.0   967118.0   574526.0  ...    86.6      90.6
Drama      4319700.0  7107053.0  4935375.0  3404438.0  ...   509.8     533.6
Romance     712841.0  1069280.0   689492.0   549959.0  ...   100.7     105.8
Sci-Fi     1802098.0  3002994.0  2530855.0  2325284.0  ...   135.4     140.9
Thriller   1175799.0  1993378.0  1465491.0  1081701.0  ...   102.3     106.7

           VotesU18F  VotesU18M  VotesUS  VotesnUS   cnt  genre_1  genre_2  \
Action         256.8      252.8    247.6     240.6  31.0      0.0      0.0
Adventure      314.9      309.3    303.5     296.2  38.0      0.0      0.0
Animation       90.7       87.7     87.6      86.1  11.0      NaN      0.0
Biography      146.9      146.6    142.7     139.9  18.0      0.0      0.0
Comedy         186.9      186.9    182.6     178.9  23.0      0.0      0.0
Crime           87.7       90.9     87.8      85.8  11.0      0.0      0.0
Drama          529.7      532.2    515.9     506.0  65.0      0.0      0.0
Romance        106.1      104.8    101.8     100.1  13.0      0.0      0.0
Sci-Fi         141.6      141.0    137.5     134.0  17.0      0.0      0.0
Thriller       104.9      106.7    103.1     101.5  13.0      0.0      0.0

           genre_3
Action         0.0
Adventure      0.0
Animation      0.0
Biography      0.0
Comedy         0.0
Crime          0.0
Drama          0.0
Romance        0.0
Sci-Fi         0.0
Thriller       0.0

[10 rows x 48 columns]

In [ ]:
# Calculate the mean of all numeric columns by dividing them with the column value cnt
genre_top10 = genre_top10.div(genre_top10['cnt'], axis=0)

# Display the updated genre_top10 DataFrame
print(genre_top10)

              CVotes01     CVotes02     CVotes03     CVotes04      CVotes05  \
Action     5524.096774  2115.258065  3064.645161  5386.129032  12693.032258
Adventure  4575.210526  1835.184211  2718.894737  4817.631579  11551.842105
Animation  2290.272727   911.454545  1430.272727  2792.545455   7551.727273
Biography  2849.833333  1145.166667  1639.444444  2984.333333   7702.666667
Comedy     3842.043478  1712.652174  2444.260870  4237.782609   9863.130435
Crime      3383.363636  1544.090909  2246.636364  3842.818182   8971.818182
Drama      3250.892308  1449.000000  2078.861538  3622.692308   8497.107692
Romance    3082.692308  1476.923077  2130.615385  3762.538462   8530.846154
Sci-Fi     6731.470588  2715.941176  3876.705882  6583.823529  14951.470588
Thriller   4433.076923  1982.076923  2918.461538  5021.615385  11534.846154

               CVotes06       CVotes07       CVotes08       CVotes09  \
Action     34688.838710   94262.129032  150895.322581  114433.193548
Adventure  31896.710526   86367.921053  138482.315789  105636.631579
Animation  22825.090909   65707.454545  104837.636364   72566.090909
Biography  23644.166667   74054.444444  123948.777778   77867.111111
Comedy     26099.434783   69176.913043  108993.521739   77173.347826
Crime      25308.272727   74671.818182  129045.000000   87919.818182
Drama      23528.553846   66456.923077  109339.276923   75928.846154
Romance    21637.615385   54833.923077   82252.307692   53037.846154
Sci-Fi     39518.294118  106005.764706  176646.705882  148873.823529
Thriller   32003.538462   90446.076923  153336.769231  112730.076923

                CVotes10  ...    VotesM  VotesU18  VotesU18F  VotesU18M  \
Action     102144.096774  ...  7.845161  8.187097   8.283871   8.154839
Adventure   94596.289474  ...  7.852632  8.194737   8.286842   8.139474
Animation   61960.181818  ...  7.854545  8.081818   8.245455   7.972727
Biography   47333.500000  ...  7.838889  8.161111   8.161111   8.144444
Comedy      60157.217391  ...  7.834783  8.147826   8.126087   8.126087
Crime       52229.636364  ...  7.872727  8.236364   7.972727   8.263636
Drama       52375.969231  ...  7.843077  8.209231   8.149231   8.187692
Romance     42304.538462  ...  7.746154  8.138462   8.161538   8.061538
Sci-Fi     136781.411765  ...  7.964706  8.288235   8.329412   8.294118
Thriller    83207.769231  ...  7.869231  8.207692   8.069231   8.207692

            VotesUS  VotesnUS  cnt  genre_1  genre_2  genre_3
Action     7.987097  7.761290  1.0      0.0      0.0      0.0
Adventure  7.986842  7.794737  1.0      0.0      0.0      0.0
Animation  7.963636  7.827273  1.0      NaN      0.0      0.0
Biography  7.927778  7.772222  1.0      0.0      0.0      0.0
Comedy     7.939130  7.778261  1.0      0.0      0.0      0.0
Crime      7.981818  7.800000  1.0      0.0      0.0      0.0
Drama      7.936923  7.784615  1.0      0.0      0.0      0.0
Romance    7.830769  7.700000  1.0      0.0      0.0      0.0
Sci-Fi     8.088235  7.882353  1.0      0.0      0.0      0.0
Thriller   7.930769  7.807692  1.0      0.0      0.0      0.0

[10 rows x 48 columns]

In [ ]:
# Type cast all CVotes related columns to integers
cvotes_columns = [col for col in genre_top10.columns if col.startswith('CVotes')]
genre_top10[cvotes_columns] = genre_top10[cvotes_columns].astype(int)

# Round off all Votes related columns to two digits after the decimal point
votes_columns = [col for col in genre_top10.columns if col.startswith('Votes')]
genre_top10[votes_columns] = genre_top10[votes_columns].round(2)

# Display the updated genre_top10 DataFrame
print(genre_top10)

           CVotes01  CVotes02  CVotes03  CVotes04  CVotes05  CVotes06  \
Action         5524      2115      3064      5386     12693     34688
Adventure      4575      1835      2718      4817     11551     31896
Animation      2290       911      1430      2792      7551     22825
Biography      2849      1145      1639      2984      7702     23644
Comedy         3842      1712      2444      4237      9863     26099
Crime          3383      1544      2246      3842      8971     25308
Drama          3250      1449      2078      3622      8497     23528
Romance        3082      1476      2130      3762      8530     21637
Sci-Fi         6731      2715      3876      6583     14951     39518
Thriller       4433      1982      2918      5021     11534     32003

           CVotes07  CVotes08  CVotes09  CVotes10  ...  VotesM  VotesU18  \
Action        94262    150895    114433    102144  ...    7.85      8.19
Adventure     86367    138482    105636     94596  ...    7.85      8.19
Animation     65707    104837     72566     61960  ...    7.85      8.08
Biography     74054    123948     77867     47333  ...    7.84      8.16
Comedy        69176    108993     77173     60157  ...    7.83      8.15
Crime         74671    129045     87919     52229  ...    7.87      8.24
Drama         66456    109339     75928     52375  ...    7.84      8.21
Romance       54833     82252     53037     42304  ...    7.75      8.14
Sci-Fi       106005    176646    148873    136781  ...    7.96      8.29
Thriller      90446    153336    112730     83207  ...    7.87      8.21

           VotesU18F  VotesU18M  VotesUS  VotesnUS  cnt  genre_1  genre_2  \
Action          8.28       8.15     7.99      7.76  1.0      0.0      0.0
Adventure       8.29       8.14     7.99      7.79  1.0      0.0      0.0
Animation       8.25       7.97     7.96      7.83  1.0      NaN      0.0
Biography       8.16       8.14     7.93      7.77  1.0      0.0      0.0
Comedy          8.13       8.13     7.94      7.78  1.0      0.0      0.0
Crime           7.97       8.26     7.98      7.80  1.0      0.0      0.0
Drama           8.15       8.19     7.94      7.78  1.0      0.0      0.0
Romance         8.16       8.06     7.83      7.70  1.0      0.0      0.0
Sci-Fi          8.33       8.29     8.09      7.88  1.0      0.0      0.0
Thriller        8.07       8.21     7.93      7.81  1.0      0.0      0.0

           genre_3
Action         0.0
Adventure      0.0
Animation      0.0
Biography      0.0
Comedy         0.0
Crime          0.0
Drama          0.0
Romance        0.0
Sci-Fi         0.0
Thriller       0.0

[10 rows x 48 columns]